@import '~@angular/material/theming';
@include mat-core();

$revature-primary: mat-palette($mat-orange);
$revature-accent:  mat-palette($mat-orange);
$revature-warn:    mat-palette($mat-orange);

$revature-theme: mat-light-theme($revature-primary, $revature-accent, $revature-warn);

@include angular-material-theme($revature-theme);
